<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Carousel</span>
    </mat-toolbar>

    <!-- Add Content Here -->
    <button (click)="showDialog = !showDialog" class="btn">Open</button>

    <!-- gallery content -->
    <div >

    </div>


    <div class="wrapper">

      <div class="row">

        <div class="col-1-4" *ngFor="let user of httpData$ | async as httpData$; index as i;">
          <img class="car-image" [src]="user.img_url" /><br />
          <span data-label="userId"></span><br />
          <span data-label="userMaker">{{ user.make }}</span><br />
          <span data-label="userId">{{ user.model }}</span><br />
          <test-button
            (onClick)="onClickCar($event, i)"
            [valueLabelButton]="valueLabelButton">
          </test-button>
        </div>

      </div><!-- /.row -->

    </div><!-- /.wrapper -->
    <!--  gallery content -->

    <app-dialog [(visible)]="showDialog">

      <!-- Modal content -->
      <h1>Modal View</h1>
      <test-button
        (onClick)="fromChild($event)"
        [valueLabelButton]="valueLabelButton"
      >Closec</test-button>
      <!-- Modal content -->

    </app-dialog>
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>
