<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">Menu</mat-icon>
      </button>
      <span>Carousel</span>
    </mat-toolbar>

    <!-- gallery content -->
    <div class="wrapper">

      <div class="row" *ngIf="httpDataCars$ | async as cars">

        <div class="col-1-4" *ngFor="let car of cars; index as i;">
          <img class="car-image" [src]="car.img_url" /><br />
          <span data-label="userId"></span><br />
          <span data-label="userMaker">{{ car.make }}</span><br />
          <span data-label="userId">{{ car.model }}</span><br />
          <test-button
            (onClick)="onClickCar($event, i)"
            [valueLabelButton]="valueLabelButton"
            (click)="showDialog = !showDialog">
          </test-button>
        </div>
      </div>
    </div>
    <!--  gallery content -->

    <app-dialog [(visible)]="showDialog">

      <!-- Modal content -->
      <h1>Modal View</h1>
      <div *ngIf="httpDataCar$ | async as cars">
        <img class="car-image" [src]="cars.img_url" /><br />
        <span data-label="userId"></span><br />
        <span data-label="userMaker">Information: {{ cars.make }}, {{ cars.model }}</span><br />
        <span data-label="userMaker">Carwow raiting: {{ cars.carwow_rating }}</span><br />
        <span data-label="userId">Summary: {{ cars.summary }}</span><br />
      </div>
      <!-- Modal content -->

    </app-dialog>
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>
