<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Carousel</span>
    </mat-toolbar>

    <!-- Add Content Here -->
    <button (click)="showDialog = !showDialog" class="btn">Open</button>

    <app-dialog [(visible)]="showDialog">
      <h1>Hello World</h1>
      <button (click)="showDialog = !showDialog" class="btn">Close</button>
    </app-dialog>
    <!-- Add Content Here -->

  </mat-sidenav-content>
</mat-sidenav-container>
