<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
  <mat-toolbar>Menu</mat-toolbar>

  <mat-nav-list>
    <a mat-list-item href="#">
      <a [routerLink]="'LINK1'">LINK 1
        <fa-icon [icon]="faCoffee"></fa-icon>
      </a>
    </a>
    <a mat-list-item href="#">
      <a [routerLink]="'LINK2'">LINK 2
        <fa-icon [icon]="faDiceD6"></fa-icon>
      </a>
    </a>
    <a mat-list-item href="#">
      <a [routerLink]="'LINK3'">LINK 3
        <fa-icon [icon]="faCloudRain"></fa-icon>
      </a>
    </a>
    <a mat-list-item href="#">
      <a [routerLink]="'LINK4'">LINK 4
        <fa-icon [icon]="faCloud"></fa-icon>
      </a>
    </a>
  </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <!-- router content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
