<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <test-button (onClick)="fromChild($event)"></test-button>

      <span>Table</span>
    </mat-toolbar>

    <!-- Add Content Here -->

    <p *ngFor="let user of httpData$ | async as httpData$; index as i">
      {{ user.userId }}
      {{ user.id }}
      {{ user.title }}
      {{ user.completed }}
      {{ user.userId }} ({{ i + 1 }} / {{ httpData$.length }})
    </p>

  </mat-sidenav-content>
</mat-sidenav-container>
